  <!-- <div class="branding"><a ng-href="#/">EPIDEMIA </a></div> -->

<!-- 여기는 Login 페이지 이후에 나올 페이지 입니당..  -->
  <ul>
    <li>
        <!-- <a ng-show = "currentUser" ng-href="#/meetings"> Today's Scehdule
          <span ng-show ="howManyMeetings" class = "badge"> {{howManyMeetings}}</span>
        </a> -->
        <!-- <li> <a href = "#/D3Viewer"> D3Viewer </a></li> -->
        <!-- <li> <a href = "#/D3Viewer2"> D3Viewer2 </a></li> -->
        <!-- <li> <a href = "#/D3Viewer3"> D3Viewer3 </a></li> -->
    </li>
    <!-- <li><a ng-hide = "currentUser" href="#/login">Login</a></li>
    <li><a ng-hide = "currentUser" href="#/register">Register</a></li> -->

    <!-- <li><a href="#/success">Success</a></li> -->
  </ul>
